body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chocolate;
}
.triangle{
    background-color: dimgray;
    text-align: center;
    border: 5px solid blue;
    padding: 50px;
}
input, button{
    border: 2px solid black;
    padding: 10px;
}
button{
    margin-bottom: 10px;
}
span{
    color: blanchedalmond;
}
h2,h3{
    color: cyan;
}
ul li{
    display: block;
}
#eqltr{
    width: 0;
    border-bottom: 400px solid purple;
    border-right: 400px solid transparent;
    border-left: 400px solid transparent;
}
#iscl{
    width: 0;
    border-bottom: 500px solid blue;
    border-right: 400px solid transparent;
    border-left: 400px solid transparent;
    
}
#scaln{
    width: 0;
    border-bottom: 200px solid #000;
    border-right: 100px solid transparent;
    border-left: 300px solid transparent;
}
#undftr{
    width: 0;
    height: 5;
    border-bottom: 200px solid #000;
    border-right: 100px solid black;
    border-left: 300px solid white;
    margin-left: 20%;
}

