body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: chocolate;
}
.triangle{
    background-color: dimgray;
    text-align: center;
    border: 5px solid blue;
}
input, button{
    border: 2px solid black;
}